<%- include("./partials/partialHead") %> 
  <link rel="stylesheet" href="../../stylesheets/assinatura.css" />
<%- include("./partials/userHeader") %> 
<span><%= user.User_nome %></span>
                  
  
</div>
</nav>

<ul class="menu-wide">
<li class="nav-item-desktop"><a class="nav-link-desktop" href="/cadastro">Cadastro</a></li>
<li class="nav-item-desktop"><a class="nav-link-desktop" href="/login">Perfil</a></li>
<li class="nav-item-desktop"><a class="nav-link-desktop" href="/checkout">Planos</a></li>
</ul>

</header>
<%- include("./partials/userMain") %> 


</section>
</main>




<%- include("./partials/userFooter") %> 

<script src="../../javascripts/users.js"></script>
</body>
</html>



    