<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../stylesheets/checkout.css" />
        
        <title>Retrôbol</title>

</head>
<body>
    <!-- CONTAINER TIPO DE ASSINATURA -->

    <section class="container-logo">
    <a href="/"><img id="logo" src="../images/Logo-Retrôbol.png" alt=""></a>
    </section>
    <h2 id="checkout-text">Checkout</h2>
    <main>

        
        
        <form onsubmit="done(event)" action="" method="POST" id="form">
        <section class="container-dados-web">
            <section class="container-assinatura">
                <div class="assinatura-editor">
                    <h3>Tipo de Assinatura</h3>
                    <span class="editar">Editar</span>
                </div>
                    <label id="label-coracao" for="coracao" class="escolha-coracao">
                        <input id="coracao"  name="assinatura" checked type="radio" value="coracao" >
                        <img src="../images/coracao.png" alt="icon-coracao">
                        <span><%= listaPlanos[0].assinatura %> </span>
                    </label>
            
                    <label id="label-nacional" for="nacional" class="escolha-nacional">
                        <input id="nacional" name="assinatura" type="radio" value="nacional">
                        <img src="../images/brasil.png" alt="icon-coracao">
                        <span><%= listaPlanos[3].assinatura %> </span>
                    </label>
            
                    <label id="label-mundial" for="mundial" class="escolha-mundial">
                        <input id="mundial" name="assinatura" type="radio" value="mundial">
                        <img src="../images/terra.png" alt="icon-coracao">
                        <span><%= listaPlanos[6].assinatura %> </span>
                    </label>
                    <button type="button" id="btn-assinatura">
                        Avançar
                    </button>
                </section>
                
                <!-- CONTAINER ESCOLHA UM PLANO -->
            
                <section class="container-plano">
            
                    <div class="assinatura-editor">
                        <h3>Escolha um plano</h3>
                        <span class="editar">Editar</span>
                    </div>
                    <div class="ocultar-plano">

                        <div class="planos-input">
                            <label>Selecione um plano</label>
                            <select name="planos" id="sessao-planos">
                                <option name="anual" id="option-anual" value=""></option>
                                <option name="semestral" id="option-semestral" value=""></option>
                                <option name="trimestral" id="option-trimestral" value=""></option>
                            </select>
                
                        </div>
                        <button type="button" id="btn-plano">
                            Avançar
                        </button>
                    </div>
                </section>
            
                <!-- CONTAINER DADOS PESSOAIS -->
            
                <section class="container-dados-pessoais">
            
                    <div class="assinatura-editor">
                        <h3>Dados Pessoais</h3>
                        <span class="editar">Editar</span>
                    </div>
                    <div class="ocultar-dados-pessoais">

                        <div class="dados-pessoais">
                            <span>
                                Já possui conta? <a href="#"> Clique aqui para logar</a>
                            </span>
                            <label for="email">E-mail</label>
                            <input  id="dados-email" name="emailDados" type="email" value="<%= clientes.emailDados %>">
                            <p class="error-dados" id="erro-email"></p>

                            <label for="cpf">CPF</label>
                            <input id="dados-cpf" name="cpf" type="number" value="<%= clientes.cpf %>">
                            <p class="error-dados" id="erro-cpf"></p>

                            <label for="nome">Nome</label>
                            <input id="dados-nome" name="nome" type="text" value="<%= clientes.nome %> ">
                            <p class="error-dados" id="erro-nome"></p>


                            <label for="sobrenome">Sobrenome</label>
                            <input id="dados-sobrenome" name="sobrenome" type="text" value="<%= clientes.sobrenome %>">
                            <p class="error-dados" id="erro-sobrenome"></p>


                            <label for="celular">Celular</label>
                            <input id="dados-celular" name="celular" type="number" value="<%= clientes.celular %>">
                            <p class="error-dados" id="erro-celular"></p>


                            <label for="nascimento">Data de Nascimento</label>
                            <input id="dados-nascimento" name="nascimento" type="date" value="<%= clientes.nascimento %>">

                            <label for="senha">Senha</label>
                            <input id="dados-senha" name="senha" type="password">
                            <p class="error-dados" id="erro-especial"></p>
                            <p class="error-dados" id="erro-maiuscula"></p>
                            <p class="error-dados" id="erro-tamanho"></p>


                            <label for="confirmar">Confirmar Senha</label>
                            <input id="dados-confirmacao" name="confirmar" type="password">
                            <p class="error-dados" id="erro-confirmacao"></p>


                            <div class="box-novidades">
                                <input id="dados-novidades" type="checkbox" value="newsletter">
                                <p>Quero receber mais novidades!</p>
                            </div>
                        </div>
                
                        
                        <button type="button" id="btn-dados-pessoais">
                            Avançar
                        </button>
                    </div>

                </section>
            
            
                <!-- CONTAINER DADOS COBRANCA -->
            
            
                <section class="container-cobranca">
            
                    <div class="assinatura-editor">
                        <h3>Endereço de Cobrança</h3>
                        <span class="editar">Editar</span>
                    </div>

                    <div class="ocultar-cobranca">

                        <div class="dados-cobranca">
                            <label for="cepCobranca">CEP</label>
                            <input id="cobranca-cep" name="cepCobranca" type="number" value="<%= clientes.cepCobranca %>">
                            <p class="error-dados" id="erro-cep"></p>

                            <label for="endereçoCobranca">Endereço</label>
                            <input id="cobranca-endereco" name="enderecoCobranca" type="text" value="<%= clientes.enderecoCobranca %>">
                            <label for="numeroCobranca">Número</label>
                            <input id="cobranca-numero" name="numeroCobranca" type="number" value="<%= clientes.numeroCobranca %>">
                            <p class="error-dados" id="erro-numero"></p>

                            <label for="complementoCobranca">Complemento</label>
                            <input id="cobranca-complemento" name="complementoCobranca" type="text" value="<%= clientes.complementoCobranca %>">
                            <label for="bairroCobranca">Bairro</label>
                            <input id="cobranca-bairro" name="bairroCobranca" type="text" value="<%= clientes.bairroCobranca %>">
                            <label for="estadoCobranca">Estado</label>
                            <input id="cobranca-estado" name="estadoCobranca" type="text" value="<%= clientes.estadoCobranca %>">
                            <label for="cidadeCobranca">Cidade</label>
                            <input id="cobranca-cidade" name="cidadeCobranca" type="text" value="<%= clientes.cidadeCobranca %>">
                            
                            <div class="box-novidades">
                                <input type="checkbox" value="entrega" id="endereco-entrega">
                                <p>Endereço de entrega mesmo da cobrança</p>
                            </div>

                        </div>
                
                        
                        <button type="button" id="btn-cobranca">
                            Avançar
                        </button>
                    </div>

                </section>
            
                <!-- CONTAINER DADOS ENTREGA -->
            
            
                <section class="container-entrega">
            
                    <div class="assinatura-editor">
                        <h3>Endereço para Entrega</h3>
                        <span class="editar">Editar</span>
                    </div>

                    <div class="ocultar-entrega">

                        <div class="dados-entrega">
                            <label for="cepEntrega">CEP</label>
                            <input id="entrega-cep" name="cepEntrega" type="number" value="<%= clientes.cepEntrega %>">
                            <p class="error-dados" id="erro-entrega-cep"></p>

                            <label for="endereçoEntrega">Endereço</label>
                            <input id="entrega-endereco" name="enderecoEntrega" type="text" value="<%= clientes.enderecoEntrega %>">
                            <label for="numeroEntrega">Número</label>
                            <input id="entrega-numero" name="numeroEntrega" type="number" value="<%= clientes.numeroEntrega %>">
                            <p class="error-dados" id="erro-entrega-numero"></p>
    
                            <label for="complementoEntrega">Complemento</label>
                            <input id="entrega-complemento" name="complementoEntrega" type="text" value="<%= clientes.complementoEntrega %>">
                            <label for="bairroEntrega">Bairro</label>
                            <input id="entrega-bairro" name="bairroEntrega" type="text" value="<%= clientes.bairroEntrega %>">
                            <label for="estadoEntrega">Estado</label>
                            <input id="entrega-estado" name="estadoEntrega" type="text" value="<%= clientes.estadoEntrega %>">
                            <label for="cidadeEntrega">Cidade</label>
                            <input id="entrega-cidade" name="cidadeEntrega" type="text" value="<%= clientes.cidadeEntrega %>">
                            
                        
                        </div>
                
                        
                        <button type="button" id="btn-entrega">
                            Avançar
                        </button>
                    </div>

            
                </section>
            
            
                <!-- CONTAINER FRETE -->
            
            
            
                <section class="container-frete">
            
                    <div class="assinatura-editor">
                        <h3>Frete</h3>
                        <span class="editar">Editar</span>
                    </div>
            
                    <div class="ocultar-frete">

                        <div class="box-frete-gratis">
                            <input id="box-frete"  name="boxFrete" checked type="radio" >
                            <span>Frete grátis para todo Brasil</span>
                            
                        </div>
                        <p>Atenção: a entrega pode ser feita até o dia 15 do mês seguinte de cada edição.</p>
                        
                        <button type="button" id="btn-frete">
                            Avançar
                        </button>
                
                    </div>

                </section>
        
            </section>
        
            <!-- CONTAINER PAGAMENTO -->
        
            <section class="container-pagamento-web">
        
                <section class="container-pagamento">
                    
                    <div class="assinatura-editor">
                        <h3>Pagamento</h3>
                        <span class="editar">Editar</span>
                    </div>

                    <div class="ocultar-pagamento">

                        <div class="box-cartao">
                            <img src="../images/cartao.png" alt="icone-cartão">
                            <span>Cartão de crédito</span>
                            
                        </div>
                        <div class="dados-cartao">
                    
                            <label for="numero-cartao">Número do Cartão</label>
                            <input id="numero-cartao" type="number" name="numeroCartao" value="<%= clientes.numeroCartao %>">
                            <% if(typeof errors !== "undefined"){ %> 
                            <p class="error-dados" style="display: block;" id="erro-cartao"><%= errors[0].msg %> </p>
                            <% } %> 
                            <label for="validade">Data de Validade</label>
                            <input id="validade-cartao" type="number" name="validadeCartao" value="<%= clientes.validadeCartao %>">
                            <p class="error-dados" id="erro-validade"></p>

                            <label for="cvv">CVV</label>
                            <input id="cvv-cartao" type="number" name="cvv">
                            <p class="error-dados" id="erro-cvv"></p>

                            <label for="nome-cartao">Nome impresso no cartão</label>
                            <input id="nome-cartao" type="text" name="nomeCartao" value="<%= clientes.nomeCartao %>">
                            <label for="cpf-cartao">CPF do Titular</label>
                            <input id="cpf-cartao" type="text" name="cpfCartao" value="<%= clientes.cpfCartao %>">
                            <p class="error-dados" id="erro-cartao-cpf"></p>

                            
                        </div>
                        
                        <button type="button" id="btn-pagamento">
                            Avançar
                        </button>
                
                    </div>
                    
                </section>
            </section>
            <!-- CONTAINER RESUMO -->
        
            <section class="conteiner-resumo-web">
        
                <section class="container-resumo">
                    
                    <div class="assinatura-editor">
                        <h3>Resumo</h3>
                        <span class="editar">Editar</span>
                    </div>
                    
                    <div class="box-resumo">
                        <p>Sua próxima edição será a Retrobol mês Outubro 2022</p>
                        
                    </div>
            
                    <div class="box-resumo-descricao">
                        <p>Descrição</p>
                        <p>Valor</p>
                    </div>
                    <hr>
            
                    <div class="box-resumo-valor">
                        <p>Valor da Assinatura</p>
                        <p id="resumo-valor"></p>
                    </div>
                    <hr>
            
                    <div class="box-resumo-subtotal">
                        <p>Subtotal</p>
                        <p id="resumo-subtotal"></p>
                        
                    </div>
                    <hr>
            
                    <div class="box-resumo-parcelado">
                        <p>Valor Parcelado</p>
                        <p id="resumo-parcelado"></p>
                        
                    </div>
                    <hr>
            
                    <div id="box-resumo-termos">
                        <input type="checkbox" value="termos">
                        <p>Eu li e concordo com os <span>Termos e Condições de uso</span> e a <span>Politica de Privacidade</span></p>
                    </div>
                
                    
                    <button type="submit" id="btn-resumo">
                        Avançar
                    </button>
                </section>
            </section>
        </form>    
    </main>

    <script src="../javascripts/checkout.js"></script>

     
</body>
</html>