<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin</title>
  <link rel="stylesheet" href="../stylesheets/clientes.css">

</head>

<body>
<main>
  <section class="container-logo">
    <a href="/"><img id="logo" src="../images/Logo-Retrôbol.png" alt=""></a>
    </section>

<form action="/clientes/search" method="GET">
  <section class="filtros-clientes">
    <span>Filtrar valores por: </span>
    <label for="nome">Nome: </label>
    <input id="dados-nome" name="nome" type="text" value="<%= nome %>" >
    <p class="error-dados" id="erro-nome"></p>

    <label for="plano">Plano: </label>
    <select name="plano" id="dados-assinatura" value="<%= plano %>" >
      <option  value=""></option>
      <option value="Trimestral">Trimestral</option>
      <option  value="Semestral">Semestral</option>
      <option value="Anual">Anual</option>
    </select>

    <label for="cidade">Assinatura: </label>
    <select name="assinatura" id="dados-assinatura" value="<%= assinatura %>">
      <option selected value=""></option>
      <option value="Time do Coracao">Time do Coração</option>
      <option value="Times Nacionais">Times Nacionais</option>
      <option value="Times Mundiais">Times Mundiais</option>
    </select>


    <button type="submit" id="btn-buscar">Buscar</button>


  </section>
</form>
  <div class="all-page">

    <div class="tabela">

      <table class="table">
        <tr class="titulos">
          <td>Nomes</td>
          <td>Sobrenomes</td>
          <td>Plano</td>
          <td>Assinatura</td>
          <td>Valor</td>
          <td>Ações</td>
        </tr>
        <% for(cliente of clientes) { %>
          <tr class="valores">
            <td> <%= cliente.User_nome %></td>
            <td><%= cliente.User_sobrenome %></td>
            <% if(cliente.plano.length > 0) { %> 
            <td><%= cliente.plano[0].plano %></td>
            <td><%= cliente.plano[0].assinatura %></td>
            <td><%= cliente.plano[0].valor %></td>
            <% } else { %>
              <td><%= cliente.plano[0] %></td>
              <td><%= cliente.plano[0]%></td>
              <td><%= cliente.plano[0]%></td>
              
              <% } %>  
            <td class="actions">
              <div class="button">
                <a href="/clientes/alterar/<%= cliente.idUsuario %> "><button id="btn-editar">Editar</button></a>
              </div>  
              <div class="button">
                <form action="/clientes/deletar/<%= cliente.idUsuario %>?_method=DELETE" onsubmit="deleteClient(event)"  method="POST">
                 <button type="submit" id="btn-deletar">Apagar</button>
                </form>
              </div>

              
            </td>
          </tr>
        <% } %>
      </table>
      <div class="container-paginacao">
        <ul class="paginacao">
          <% for(i = 1; i <= totalPagina ; i++) { %> 
           <% if(plan){ %>
            <%  if(i == page){   %>
                  <li class="page-list"><a href="?page=<%= i %>&nome=<%= nome %>&plano=<%= plano %>&assinatura=<%= assinatura %>"><button class=" active"><%= i %></button></a></li>
              
            <%  }else{ %> 
                  <li class="page-list"><a href="?page=<%= i %>&nome=<%= nome %>&plano=<%= plano %>&assinatura=<%= assinatura %>"><button class="btn-pagina"><%= i %></button></a></li>
  
            <% }} else {%>
            
            
              <%  if(i == page){   %>
              <li class="page-list"><a href="?page=<%= i %>&nome=<%= nome %>&plano=<%= plano %>&assinatura=<%= assinatura %>"><button class=" active"><%= i %></button></a></li>
              
              <% }else{ %> 
              <li class="page-list"><a href="?page=<%= i %>&nome=<%= nome %>&plano=<%= plano %>&assinatura=<%= assinatura %>"><button class="btn-pagina"><%= i %></button></a></li>
  
              <% }} %> 
            <% } %>






        </ul>
      </div>
    </div>

    






  </div>

</main>
<script src="../../javascripts/client.js"></script>
</body>


</html>