<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/clientes.css">

  </head>
  <body>
    <h1></h1>

    
        <div class="titulos">
            <h2>Nomes</h2>
            <h2>Sobrenomes</h2>
            <h2>Plano</h2>
            <h2>Assinatura</h2>
            <h2>Ações</h2>
            
        </div>
        <div class="all-page">
            
            <div class="tabela">
                <ul>
                    <% for(cliente of clientes) { %>
                    <li>
                        <h6><%= cliente.nome %></h6>
                        <h6><%= cliente.sobrenome %></h6> 
                        <h6><%= cliente.plano %></h6> 
                        <h6><%= cliente.assinatura %></h6> 
                        <div class="button">
                            <a href="/clientes/alterar/<%= cliente.id %> "><button>Editar</button></a> 
                            
                            <form action="/clientes/deletar/<%= cliente.id %>?_method=DELETE" method="POST">
                                <a href="/clientes/deletar/<%= cliente.id %>"><button>Apagar</button></a>

                            </form>
                    </li>
                    <% } %>
                        </div>    
                </ul>
            </div>

     
        
    
    
    
       


    

    </div>
    
  </body>
</html>
