
<%- include("./partials/partialHead") %> 
<link rel="stylesheet" href="../../../stylesheets/config-dados.css" />
<%- include("./partials/userHeader") %> 
<span><%= user.usuario.dataValues.User_nome %></span>
                  
  
</div>
</nav>

<ul class="menu-wide">
    <li class="nav-item-desktop"><a class="nav-link-desktop" href="/users/<%= id %>/meu-plano">Meu Plano</a></li>
    <li class="nav-item-desktop"><a class="nav-link-desktop" href="/users/<%= id %>/pedidos">Proxima Entrega</a></li>
    <li class="nav-item-desktop"><a class="nav-link-desktop" href="/users/<%= id %>/configuracoes">Configuração</a></li>
    <li class="nav-item-desktop"><a class="nav-link-desktop" href="/users/<%= id %>/logout">Logout</a></li>
</ul>

</header>


<main>
    <form action="/users/<%= user.fk_user %>/configuracoes/endereco?_method=PUT " method="POST">
        
        <section class="container-cadastro">            
            <h1>Endereço de Entrega</h1>
            
            <div class="dados-pessoais">
             
                <label for="cep">Cep</label>
                <input id="dados-cep" name="cep" type="text" value="<%= user.cep  %> ">
                
        
        
                <label for="endereco">Endereço</label>
                <input id="dados-endereco" name="endereco" type="text" value="<%= user.endereco  %>">
                
        
        
                <label for="numero">Número</label>
                <input id="dados-numero" name="numero" type="number" value="<%= user.numero  %>">

                <label for="complemento">Complemento</label>
                <input id="dados-complemento" name="complemento" type="text" value="<%= user.complemento  %>">

                <label for="bairro">Bairro</label>
                <input id="dados-bairro" name="bairro" type="text" value="<%= user.bairro  %>">

                <label for="cidade">Cidade</label>
                <input id="dados-cidade" name="cidade" type="text" value="<%= user.cidade  %>">
               
        
        
                
                
            </div>
        
            <div class="btn-atualizar">
                
                <button type="submit" id="btn-dados-pessoais">
                    Atualizar
                </button>
                <a href="/users/<%= id %>/configuracoes">
                    <button type="button" id="btn-dados-cancelar">
                        Cancelar
                    </button>
                </a>
            </div>
            
        </section>
</main> 
    
    
    
    

</form>    


<%- include("./partials/userFooter") %> 